<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="skcc.arch.biz.user.infrastructure.mybatis.UserRepositoryMybatis">

    <!-- ID로 유저 조회 -->
    <resultMap id="UserResultMap" type="skcc.arch.biz.user.infrastructure.mybatis.UserDto">
        <result property="id" column="ID"/>
        <result property="username" column="USERNAME"/>
        <result property="email" column="EMAIL"/>
        <result property="password" column="PASSWORD"/>
        <result property="status" column="status"/>
        <result property="createdDate" column="created_date"/>
    </resultMap>

    <select id="findById" parameterType="java.lang.Long" resultType="skcc.arch.biz.user.infrastructure.mybatis.UserDto">
        SELECT *
        FROM users
        WHERE id = #{id}
    </select>

    <!-- EMAIL로 유저 조회 -->
    <select id="findByEmail" parameterType="java.lang.String"
            resultType="skcc.arch.biz.user.infrastructure.mybatis.UserDto">
        SELECT *
        FROM users
        WHERE email = #{email}
    </select>

    <!-- 새로운 유저 삽입 -->
    <insert id="save" parameterType="skcc.arch.biz.user.infrastructure.mybatis.UserDto">

        <selectKey keyProperty="id" resultType="long" order="BEFORE">
            SELECT NEXT VALUE FOR users_seq
        </selectKey>

        INSERT INTO users (id, username, email, password, role, status, created_date, last_modified_date)
        VALUES (#{id},
                #{username},
                #{email},
                #{password},
                #{role},
                #{status},
                #{createdDate},
                #{lastModifiedDate}
        )
    </insert>

    <!-- 모든 유저 조회 -->
    <select id="findAll" resultType="skcc.arch.biz.user.infrastructure.mybatis.UserDto">
        SELECT *
        FROM users
    </select>

    <!-- 페이징 조회 쿼리 -->
    <select id="findAllWithPageable" resultType="skcc.arch.biz.user.infrastructure.mybatis.UserDto">
        SELECT *
        FROM users
        ORDER BY id ASC
            LIMIT #{pageSize}
        OFFSET #{offset}
    </select>

    <!-- 총 데이터 개수 조회 -->
    <select id="countAll" resultType="long">
        SELECT COUNT(*)
        FROM users
    </select>


</mapper>