<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>로그인</title>
</head>
<body>
    <h1>로그인</h1>

    <!-- 로그인 에러 메시지 표시 -->
    <p th:if="${error}" th:text="${error}" style="color: red;"></p>

    <!-- 로그인 폼 -->
    <form onsubmit="handleSignup(event)">
        <!-- 이메일 입력 -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required value="test@gmail.com">
        <br>

        <!-- 비밀번호 입력 -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required value="1234">
        <br>

        <!-- 전송 버튼 -->
        <button type="submit">로그인</button>
    </form>
    <!-- 회원가입 버튼 -->
    <div>
        <p>New to the site?</p>
        <a th:href="@{/register}"><button type="button">회원가입</button></a>
    </div>
</body>
</html>

<script src="/js/api.js"></script>
<script>
    async function handleSignup(event) {
        event.preventDefault(); // 기본 form 제출 동작 중지

        const email = document.getElementById('email').value;
        const password = document.getElementById('password').value;

        const requestData = {
            email: email,
            password: password
        };

        try {
            const response = await fetch('/api/users/login', {
                method: 'POST', // HTTP POST 요청
                headers: {
                    'Content-Type': 'application/json', // JSON 형태로 전송
                },
                body: JSON.stringify(requestData) // JSON 형태로 변환
            });

            // 서버 응답 처리
            if (response.ok) {
                const result = await response.json();
                if(!result.success) {
                    alert('Error: ' + result.error.message + ' ( ' + result.error.code + ');')
                    return
                }
                window.location.href = '/home'; // 로그인 페이지로 리다이렉트
            } else {
                const error = await response.json();
                alert('Error: ' + error.message); // 오류 메시지 알림
            }
        } catch (error) {
            console.error('Signup failed:', error);
            alert('An error occurred during sign-up. Please try again later.');
        }
    }
</script>